.inline {
    display: inline;
}
.t-16 {
    font-size: 1.6rem;
    line-height: 1.5;
}
.t-bold {
    font-weight: 600;
}
.t-black {
    color: rgba(0,0,0,.9);
}

.t-12 {
    font-size: 1.4rem;
    line-height: 1.33333;
}
.t-normal {
    font-weight: 400;
}
.t-black--light {
    color: rgba(0,0,0,.6);
}
a.link1:hover{
    color: #ffffff;
}