.job-search-main-div{
    background:  white;
}

.job-search-div{
    background-color:rgb(40, 62, 74);

}
.navbarlogin-custom1 {
    background-color: #5c6f7c;
    height: 140px;
}

.search-page-search-submit{
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 90.9219px;
    height: 38px;
    border-radius: 2px 2px 2px 2px;
    outline: rgb(255, 255, 255) none 0px;
    border: 1px solid rgb(255, 255, 255);
}

.searchcards{
    border: 1px solid lightgray;
    background-color: white;
    width: 110%;
    margin-bottom : 1%;
}

.searchresultscards{
    border: 0.5px solid lightgray;
    background-color: white;
    width: 350%;
    margin-bottom : 1%;
    
}

.btn.btn-link{
    font-size: 20px;
    text-align: left


}

.page{
    padding-left: 550px;
}
.nums{
    border: 1px solid black;
    height: 33px;
    width: 36px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    display:inline-block;
  }

  .job-page-job-save{
    color: rgb(0, 115, 177);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 85.6406px;
    height: 40px;
    border-radius: 2px 2px 2px 2px;
    outline: rgb(0, 115, 177) none 0px;
    border: 1px solid rgb(0, 115, 177);
}
.job-page-job-apply{
    background-color: #036497;
    color: white;
    width: 105.6406px;
    height: 40px;
    border-radius: 2px 2px 2px 2px;
    outline:#036497 none 0px;
    border: 1px solid #036497;
    font-weight: 700;
    text-align: center

}
.navbarlogin-custom2{
    border: 1px solid #c3c6cc;
    height: 60px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.saved-jobs-display{
    padding-top: 15%;
    font : normal normal 400 normal 16px / 32px Helvetica, Arial, sans-serif;

}
.containerSavedJobs{
    background-color: #F5F5F5;
    min-height: 2000px;     
}
.fontsHeading{
    font: normal normal 400 normal 20px / 28px -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    padding : 3px;
}
.searchresultscards1{
    border: 0.5px solid lightgray;
    background-color: white;
    width: 1223%;
    margin-bottom : 1%;
    padding-left: 25%

}
.job-page-job-unsave{
    color: rgb(0, 115, 177);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 30px;
    height: 40px;
    border-radius: 2px 2px 2px 2px;
    outline: white none 0px;
    border: 1px solid white

}
.glyphicon.glyphicon-bookmark{
    font-size: 15px;
    color: rgb(0, 115, 177);
}